.btnNav{
    display: flex;

}
.mr{
    margin-right: 15px !important;
}
.nav--link:hover {
    color: #fc00e7 !important;
}
.nav--link::after {
    content: '' !important;
    position: absolute !important;
    bottom: 0 !important;
    left: 50% !important;
    width: 0 !important;
    height: 2px !important;
    background: #fc00e7 !important;
    transition: all .5s !important;
}
.nav--link:hover::after {
    width: 100% !important;
    left: 0 !important;
}

.nav-item {
    position: relative !important;
    
}
.nav-item {
    margin: 0 5px !important;
}